:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
}

.page {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.logo {
  color: var(--title-text-color);
}
/* Site nav */

.site-nav-link {
  color: var(--title-text-color);
}
.site-nav .current {
  color: var(--accent-color);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}
.site-nav-right-link {
  color: var(--primary-text-color);
}
.site-nav-right-link:hover,
.site-nav-right-link:focus {
  color: var(--accent-color);
}
