.footer-center-title,
.footer-title-right {
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: $bg-color;
  text-transform: uppercase;
}
